<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">

    <title>Page not found</title>
</head>
<body>




 
    {{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">URL shortener</a>
   <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/list">Shortened URLs <span class="sr-only">(current)</span></a>
      </li>
    </ul>

     <form class="form-inline my-2 my-lg-0" method="POST" action="/link">
      <input class="form-control mr-sm-2" type="text" name="shortURL" placeholder="Expand">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>

</nav>

<br><br><br>


{{!-- Error message --}}
<blockquote class="blockquote text-center">
    <h1>404</h1>
  <p class="mb-0">
      Seems like you are lost. Please try some other link.
  </p>
</blockquote>


</body>
</html>