<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{{!-- Bootswatch link --}}
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <title>URL shortener</title>
</head>
<body>
    

{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">URL shortener</a>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/list">Shortened URLs <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0" method="POST" action="/link">
      <input class="form-control mr-sm-2" type="text" name="shortURL" placeholder="Expand">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>

<br><br><br>



{{!-- input form --}}
<form style="width:70%; margin:0 auto;" method="POST" action="/shorten" >
    <legend>{{msg}}</legend>
    <legend>Enter URL to shorten </legend>

    <div id="inputDiv">
    <div class="form-group">
        <label class="col-form-label" for="inputDefault"></label>
        <input type="text" class="form-control" placeholder="URL" name="url">
    </div>
    </div>
        
    <button type="button" class="btn btn-secondary" onclick="addmore()">Add more</button>
    <br><br>

    <button type="submit" class="btn btn-primary" onclick="submit()">Submit</button>

</form>

{{!-- Scripts --}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{{!-- Make it a separate file --}}

<script>

function addmore()
{
    $('#inputDiv').append(`<div class="form-group">
        <label class="col-form-label" for="inputDefault"></label>
        <input type="text" class="form-control" placeholder="URL" name="url">
    </div>`)
}


{{!-- function submit()
{
    console.log("button pressed")
    var arr = $('input');
    var send_arr=[];
    for(i of arr) send_arr.push(i.value);
    
} --}}

</script>

</body>
</html>